body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    font-size: 20px;
    font-weight: bold;
    top: 0;
    z-index: 1000;
    position: sticky;
}